@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
#cabecalho{
    background-color: #000;
    color: #fff;
}

header h1{
    text-align: center;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header ul{ 
    padding: 15px;  
    list-style: none;
}
header ul li{
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header ul li:hover{
    background-color: #fff;
    color: #000;
    border-radius: 2px; 
}
article{
    width: 500px;
    display: block;
    margin: 0 auto;
    background-color: lightgray;
}
article h2{
    text-align: center;
    padding: 20px;
}
article p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.3em;
    padding: 15px;
}
